<!-- Top Nav Bar  -->
<header class="top-nav-bar">
  <!-- Left Portion  -->
  <a routerLink="/"> <img src="/assets/guruLogo.png" alt="Logo" style="max-height: 60px;" /> </a>

  <!-- Center Portion  -->
  <form class="form" role="search">
    <input class="form-control me-2 border-radius: 10px" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success border-radius: 10px" type="submit">Search</button>
  </form>

  <!-- Right Portion  -->
  <nav class="my-2">
    <a class="p-2 link-body-emphasis text-decoration-none" href=""><i (click)="logout()" class="fa fa-image fa-3x "></i></a>
    <!--User Image Goes will go here-->
  </nav>
</header>

