.left-nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  background-color: #fff;
  height: 50%; 
  width: 100%; 
}


a {
    color: black;
    &.active{
        color: deeppink;
    }
}
