/* You can add global styles to this file, and also import other style files */
/* Sets the html and body to take up 100% of the viewport height and width. */
html, body {
    height:100%;
    width: 100%;
    margin:0;
}
